.btn{
    display: inline-block;
    text-decoration: none;
    font: inherit;
    cursor: pointer;
    &--add {
        border-radius: 15px;
        border: none;
        padding: 10px;
        background-color: $color-text;
        color: $color-pink;
        box-shadow: 2px 3px $color-pink;
        &:hover {
            background-color: #0e1e64;
        }
        &:active {
            background-color: #0e1e64;
            box-shadow: 1px 1px #eb89aa;
            transform: translateY(2px);
          }
    }
}