@import '../assets/styles/base/variables';

.main {
    background-color: $color-soft;
    border: 3px solid $color-text;
    box-sizing: border-box;
    min-height: 200px;
    margin: 40px 20px;
    padding: 20px 15px;
    width: 400px;
    box-shadow: 5px 10px $color-text;

    &__date {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &:after {
            content: "";
            width: 90%;
            border: 1px solid $color-text;
        }
    }

    &__tasks-list {
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        max-height: 170px;
        overflow-y: auto;
        
        &--item{
            min-height: 16px;
            
            &:hover {
                color: $color-pink;
                .delete_btn {
                    display: block;
                }
            }
        }
        .delete_btn{
            display: none;
            float: right;
            cursor: pointer;
            border: none;
            background-color: transparent;
            color: gray;
        }
    }

    &__add-task {
        margin-top: 10px;
        padding: 0px 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    @media (max-width: 480px){
        width: 90vw;
        &__add-task {
            flex-direction: column;
            gap: 10px;
        }
        .delete_btn {
            display: block;
        }
    }
}