<div class="mainContainer">
    <div class="date">
        <h1 class="date--day">{{getWeekDay()}}</h1>
        <p class="date--number">{{getSimpleDate()}}</p>
    </div>
    <div class="tasksContainer">
        <ul>
            <li *ngFor="let task of taskList; let i = index">
                {{task}}
                <button class="btn" (click)="deleteTask(i)">Delete</button>
            </li>
        </ul>
    </div>
    <div class="addTask">
        <input class="input input--new" type="text" placeholder="New task..." [(ngModel)]="newTask"/>
        <button class="btn btn--add" type="submit" (click)="addTask()">Add new task</button>
    </div>
</div>