<div class="main">
    <div class="main__date">
        <h1 class="main__date--day">{{getWeekDay()}}</h1>
        <p class="main__date--number">{{getSimpleDate()}}</p>
    </div>
    <div class="main__tasks-list">
        <ng-container *ngFor="let task of taskList; let i = index">
            <label class="label-container main__tasks-list--item"
            [ngClass]="{'crossed': checkedTasks[i]}"> 
                {{task}}
                <input type="checkbox" (click)="checked(i)">
                <span class="checkmark"></span>        
                <button class="icon-trashcan delete_btn" (click)="deleteTask(i)"></button>
            </label>
        </ng-container>
    </div>
    <div class="main__add-task">
        <input class="input input--new" type="text" placeholder="New task..." (keyup.enter)="addTask()"
            [(ngModel)]="newTask" />
        <button class="btn btn--add" type="submit" (click)="addTask()">Add new task</button>
    </div>
</div>